/* below 2400px */
@media (max-width: 150em) {
  .results-section .cards-box {
    width: calc((32rem + 3.6rem) * 5);
  }

  .categories-section .cards-box {
    gap: 3.6rem;
  }
}

/* below 2048px */
@media (max-width: 128em) {
  .results-section .cards-box {
    width: calc((32rem + 3.6rem) * 4);
  }
}

/* below 1696px */
@media (max-width: 106em) {
  .results-section .cards-box {
    width: calc((32rem + 3.6rem) * 3);
  }

  .categories-section .cards-box {
    gap: 2.4rem;
  }
}

/* below 1600px */
@media (max-width: 100em) {
  .categories-section .cards-box {
    justify-content: start;
  }
}

/* below 1360px */
@media (max-width: 85em) {
  html {
    font-size: 56.25%;
  }

  .results-container {
    gap: 2.4rem;
  }
}

/* below 1184px */
@media (max-width: 74em) {
  .results-section .cards-box {
    width: auto;
    padding-left: 3.6vw;
  }

  .results-container {
    margin: 0;
  }

  .btn-pre,
  .btn-nxt {
    display: none;
  }

  .cards-box {
    grid-auto-columns: minmax(20rem, 24rem);
  }

  .section-title {
    font-size: 3.7rem;
  }

  .view-all {
    font-size: 1.7rem;
  }
}

/* below 944px */
@media (max-width: 59em) {
  .nav-mobile {
    display: block;
  }

  .nav-links,
  .sticky .nav-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: none;
    height: 1px;
    overflow: hidden;
    position: absolute;
    transition: all 0.4s;
    background-color: rgb(25, 25, 25, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    opacity: 0;
    font-weight: 500;
  }

  .sticky .nav-links {
    margin-top: 72px;
    position: fixed;
    background-color: rgb(240, 240, 240, 0.75);
  }

  .clicked-menu .nav-links {
    height: 52rem;
    opacity: 1;
  }

  .hero-container {
    background-image: linear-gradient(
        rgba(25, 25, 25, 0.8),
        rgba(25, 25, 25, 0.7)
      ),
      url("../img/background-1000.webp");
  }

  .intro-text {
    font-size: 2rem;
  }
}

/* below 800px */
@media (max-width: 50em) {
  .results-section .cards-box {
    padding-left: 3.6vw;
  }
}

/* below 672px */
@media (max-width: 42em) {
  html {
    font-size: 53%;
  }
}

/* below 544px */
@media (max-width: 34em) {
  .intro-header {
    font-size: 4rem;
  }

  .section-title {
    font-size: 3.4rem;
  }

  .title-container,
  .footer {
    margin-top: 4rem;
  }

  .categories-section .cards-box {
    gap: 1.2rem;
  }

  .cards-box {
    margin-top: 3rem;
    grid-auto-columns: minmax(18rem, 20rem);
    gap: 1.2rem;
  }

  .card-title {
    font-size: 1.8rem;
  }

  .results-section .cards-box {
    grid-auto-columns: 30rem;
    gap: 2.2rem;
  }

  .results-category-box-text {
    padding: 1.4rem 2.4rem 2rem;
  }

  .hero-container {
    background-image: linear-gradient(
        rgba(25, 25, 25, 0.8),
        rgba(25, 25, 25, 0.7)
      ),
      url("../img/background-1000m.webp");
  }
}
