/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(255, 255, 255, 0.75);
  height: 100vh;
  background-image: linear-gradient(
      rgba(25, 25, 25, 0.6),
      rgba(25, 25, 25, 0.7)
    ),
    url("../img/background-1.jpg");
  background-size: cover;
  background-position: center;
}

/* NAVIGATION BAR */
.header-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
}
.nav-links {
  display: flex;
  gap: 2.6rem;

  width: fit-content;
  background-color: rgba(25, 25, 25, 0.8);
  backdrop-filter: blur(25px);
  padding: 1.2rem 1.8rem;
  border-radius: 1.2rem;
  box-shadow: 0 0.6rem 2rem rgba(25, 25, 25, 0.1);
}
.nav-link:link,
.nav-link:visited {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  padding: 0.8rem 0;
}
.nav-link:hover,
.nav-link:active {
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-bottom: #d30000 2px solid;
}
.nav-links .active-page {
  color: rgb(255, 255, 255);
  border-bottom: #d30000 2px solid;
}

/* INTRO */
.intro-container {
  display: flex;
  justify-content: center;

  text-align: center;
  padding: 2.4rem;
  padding-top: 7.5rem;
}
.intro-box {
  max-width: 65rem;
  padding: 2rem 4rem;
  border-radius: 1.2rem;
  /* background-color: rgba(25, 25, 25, 0.5); */
  text-shadow: 0 1rem 1rem rgba(25, 25, 25, 0.1);
}
.intro-header {
  font-size: 4.8rem;
  line-height: 1.1;
  margin-bottom: 2rem;
}
.intro-text {
  line-height: 1.6;
}

/* FOOTER */
.footer-box {
  display: flex;
  justify-content: center;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
}
.footer-photo-copyright {
  background-color: rgba(25, 25, 25, 0.8);
  backdrop-filter: blur(25px);
  padding: 1rem 1.5rem;
  line-height: 1.6;
  box-shadow: 0 0.6rem 2rem rgba(30, 30, 30, 0.1);
  border-radius: 0.8rem;
}
.footer-link:link,
.footer-link:visited,
.footer-link:active {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.75);
}
.footer-link:hover {
  color: rgba(255, 255, 255);
}
