/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(25, 25, 25);
  background-color: rgb(240, 240, 240, 0.75);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* HERO */
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 56rem;
  background-image: linear-gradient(
      rgba(25, 25, 25, 0.7),
      rgba(25, 25, 25, 0.7)
    ),
    url("../img/background-1.jpg");
  background-size: cover;
  background-position: center;
}

/* NAVIGATION BAR */
.header-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
}

.nav-links {
  display: flex;
  gap: 2.6rem;

  width: fit-content;
  background-color: rgba(25, 25, 25, 0.8);
  backdrop-filter: blur(25px);
  padding: 1.2rem 1.8rem;
  border-radius: 1.2rem;
  box-shadow: 0 0.6rem 2rem rgba(25, 25, 25, 0.1);
}

.nav-link:link,
.nav-link:visited {
  color: rgb(240, 240, 240, 0.75);
  text-decoration: none;
  padding: 0.8rem 0;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: rgb(240, 240, 240);
  cursor: pointer;
  text-decoration: underline #d30000 2px;
  text-underline-offset: 10px;
  -webkit-text-decoration: underline #d30000;
}

.nav-link.active-page {
  color: rgb(240, 240, 240);
  text-decoration: underline #d30000 2px;
  text-underline-offset: 10px;
  -webkit-text-decoration: underline #d30000;
}

/* INTRO */
.intro-box {
  margin: 0 auto;
  color: rgba(240, 240, 240, 0.8);
  text-align: center;
  height: 100%;
  margin-top: 8vh;
  max-width: 65rem;
  padding: 2rem 4rem;
}

.intro-header {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.5px;
  margin-bottom: 2.4rem;
}

.intro-text {
  font-size: 2rem;
  line-height: 1.6;
}

/* PHOTO COPYRIGHT */
.photo-copyright-text {
  color: rgb(240, 240, 240, 0.5);
  padding: 1rem;
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: center;
}

.photo-copyright-link:link,
.photo-copyright-link:visited,
.photo-copyright-link:active {
  text-decoration: underline;
  color: rgb(240, 240, 240, 0.5);
}

.photo-copyright-link:hover {
  color: rgb(240, 240, 240);
  text-decoration: none;
  cursor: pointer;
}

/* CATEGORIES */
.section-title {
  margin-top: 6.4rem;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 0 2.4rem 4.8rem rgba(25, 25, 25, 0.1);
}

.categories-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
  margin: 5.2rem 2.4rem 0 2.4rem;
}

.categories-card {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  box-shadow: 0 2.4rem 4.8rem rgba(25, 25, 25, 0.1);
  filter: brightness(80%);
}

.categories-card img {
  transition: 0.3s ease-in;
}

.categories-card:hover,
.categories-card:active {
  cursor: pointer;
}

.categories-card:hover img,
.categories-card:active img {
  transform: scale(1.1);
}

.categories-card:hover .card-title,
.categories-card:active .card-title {
  color: rgb(240, 240, 240);
  text-decoration: underline #d30000 2px;
  text-underline-offset: 10px;
  -webkit-text-decoration: underline #d30000;
}

.card-title {
  color: rgb(240, 240, 240, 0.8);
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.5px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1.8rem 0 2.2rem 0;
  background-color: rgba(25, 25, 25, 0.4);
  backdrop-filter: blur(1px);
}

.cards-copyright-text {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.categories-card-img {
  width: 100%;
  height: 100%;
}

.more-info {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  margin-top: 1.6rem;
}

.more-info-link:link,
.more-info-link:visited {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 1.6rem 0;
  text-decoration: none;
  color: rgb(25, 25, 25);
}

.more-info-link:hover,
.more-info-link:active {
  color: #d30000;
  cursor: pointer;
  text-decoration: underline #d30000 2px;
  text-underline-offset: 10px;
  -webkit-text-decoration: underline #d30000;
}

.more-info-icon {
  height: 2rem;
  width: 2rem;
}
