/* HERO */
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 56rem;
  background-image: linear-gradient(
      rgba(25, 25, 25, 0.7),
      rgba(25, 25, 25, 0.7)
    ),
    url("../img/background-1.jpg");
  background-size: cover;
  background-position: center;
}

/* NAVIGATION BAR */
.header-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
}

.nav-links {
  display: flex;
  gap: 2.6rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
  background-color: rgba(25, 25, 25, 0.8);
  backdrop-filter: blur(25px);
  padding: 1.2rem 1.8rem;
  border-radius: 1.2rem;
  box-shadow: 0 0.6rem 2rem rgba(25, 25, 25, 0.1);
}

.nav-link:link,
.nav-link:visited {
  color: rgb(240, 240, 240, 0.75);
  text-decoration: none;
  padding: 0.8rem 0;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: rgb(240, 240, 240);
  cursor: pointer;
}

.nav-link.active-page {
  color: rgb(240, 240, 240);
  text-decoration: underline #d30000 2px;
  text-underline-offset: 10px;
  -webkit-text-decoration: underline #d30000;
}

/* INTRO */
.intro-box {
  margin: 0 auto;
  color: rgba(240, 240, 240, 0.8);
  text-align: center;
  height: 100%;
  margin-top: 8vh;
  max-width: 65rem;
  padding: 2rem 4rem;
}

.intro-header {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.5px;
  margin-bottom: 2.4rem;
}

.intro-text {
  font-size: 2rem;
  line-height: 1.6;
}

/* RESULTS */
.results-section .cards-box {
  gap: 4.8rem;
}

.results-category-box {
  border-radius: 18px;
  overflow: hidden;
  width: 34rem;
  box-shadow: 0 2.4rem 4.8rem rgba(25, 25, 25, 0.1);
}

.results-category-box-img {
  position: relative;
}

.card-copyright-text-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.results-category-box img {
  width: 100%;
}

.results-category-box-text {
  padding: 2.2rem 4.4rem 3.2rem 4.4rem;
  line-height: 1.6;
}

.results-category-box-text p {
  margin-top: 1.8rem;
  margin-bottom: 0.6rem;
  font-weight: 500;
}

.results-category-box-title {
  font-size: 2.4rem;
  font-weight: 500;
}

.results-top3-list {
  list-style: none;
  padding: 0 0.6rem;
}

.results-top3-list li {
  position: relative;
}

.results-top3-list .pos {
  margin-right: 0.6rem;
}

.results-category-box .flag {
  position: absolute;
  right: 0;
}
